<div>
    <div>{{pool.address}} (tokenA: {{pool.tokenA}}, tokenB: {{pool.tokenB}})</div>
    <div>TokenA: {{pool.reserveA}}</div>
    <div>TokenB: {{pool.reserveB}}</div>

    <form [formGroup]="provideLiqudityForm" (ngSubmit)="provideLiquidity()" *ngIf="selectedUser">
        <fieldset style="display: inline-block">
            <legend style="font-weight: bold;">Provide Liquidity</legend>

            <label for="amountTokenA">Amount Token A:</label> 
            <input type="text" name="amountTokenA" formControlName="amountTokenA" id="amountTokenA" style="width: 20rem;"> <br>

            <label for="amountTokenB">Amount Token B:</label> 
            <input type="text" name="amountTokenB" formControlName="amountTokenB" id="amountTokenB" style="width: 20rem;"> <br>

            <button type="submit">Provide</button>
        </fieldset>
    </form>

    <form [formGroup]="removeLiqudityForm" (ngSubmit)="removeLiquidity()" *ngIf="selectedUser">
        <fieldset style="display: inline-block">
            <legend style="font-weight: bold;">Remove Liquidity</legend>

            <label for="sharesToRemove">Liqudity Tokens to remove:</label> 
            <input type="text" name="sharesToRemove" formControlName="sharesToRemove" id="sharesToRemove" style="width: 20rem;"> <br>

            <button type="submit">Remove</button>
        </fieldset>
    </form>

    <form [formGroup]="swapForm" (ngSubmit)="swap()" *ngIf="selectedUser">
        <fieldset style="display: inline-block">
            <legend style="font-weight: bold;">Swap Tokens</legend>

            TokenIn:
            <label>
                <input type="radio" value="tokenA" formControlName="tokenInType">
                  <span>Token A</span>
              </label>
              <label>
                <input type="radio" value="tokenB" formControlName="tokenInType">
                  <span>token B</span>
            </label>

            <br>
            <label for="tokenInAmount">TokenIn:</label> 
            <input type="text" name="tokenInAmount" formControlName="tokenInAmount" id="tokenInAmount" style="width: 20rem;"> <br>

            <button type="submit">Swap</button>
        </fieldset>
    </form>

</div>