<h1>Swaparoo</h1>

<div *ngIf="!swaparooCoreAddress">
    <p>Connect SwaparooCore</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <label for="swaparoo_core_address">SwaparooCore Address:</label> <br>
        <input type="text" name="swaparoo_core_address" formControlName="swaparoo_core_address" id="swaparoo_core_address">
        <button type="submit">Submit</button>
    </form>
</div>

<div *ngIf="swaparooCoreAddress">
    <p>Connected SwaparooCore</p>
    <p>{{swaparooCoreState?.address}}</p>

    <hr>

    <h3>Users ({{usersState?.users?.length}}):</h3>
    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <label for="user_address">SwaparooCore Address:</label> <br>
        <input type="text" name="user_address" formControlName="user_address" id="user_address">
        <button type="submit">Add</button>
    </form>

    <div *ngFor="let user of usersState?.users">
        <div>{{user.address}} {{user.isOwner}}</div>
        <button (click)="selectUser(user)" [disabled]="user.address==selectedUser?.address">select</button>
        <div *ngIf="user.address==selectedUser?.address">[selected]</div>
    </div>

    <hr>

    <h3>Pools ({{swaparooPoolsState?.pools?.length}}):</h3>

    <!--0xe4Ec590FdF2a951F860756d4d4A6a0cea8747E47-->
</div>


