<h1>Swaparoo</h1>

<div *ngIf="!swaparooCoreAddress">
    <p>Connect SwaparooCore</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <label for="swaparoo_core_address">SwaparooCore Address:</label> <br>
        <input type="text" name="swaparoo_core_address" formControlName="swaparoo_core_address" id="swaparoo_core_address">
        <button type="submit">Submit</button>
    </form>
</div>

<div *ngIf="swaparooCoreAddress">
    <p>Connected SwaparooCore</p>
    <p>{{swaparooCoreState?.address}}</p>
    <p>{{swaparooCoreState?.ether}}</p>

    <p>Pools: ({{swaparooPoolsState?.pools?.length}})</p>

    <p>Users:</p>
    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <label for="user_address">SwaparooCore Address:</label> <br>
        <input type="text" name="user_address" formControlName="user_address" id="user_address">
        <button type="submit">Add</button>
    </form>
    <p>{{usersState?.users?.length}}</p>

    <div *ngFor="let user of usersState?.users">
        <div>{{user.address}} {{user.isOwner}}</div>
    </div>
</div>


